# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb

# minted generated folders
_minted*/
*/_minted*/

# Generated PDFs
*.pdf

# Scientific WorkPlace / editor backup files
*.bak
*.tmp
*.sav
*.asv

# OS files
Thumbs.db
.DS_Store